/* font imports */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Great+Vibes&family=Libre+Baskerville&family=Sacramento&family=Source+Sans+Pro&display=swap');

/* canvas style */

#canvas {
	margin: 100px auto;
	border: 1px solid #DBC3AD;
	max-width: 1000px;
	padding: 100px 100px 0;
	background-color: white;
}

/* general styling and fonts*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
    background-color:#ececec80;
}


h2, h3, h4, h5, h6 {
	font-family: EB Garamond, sans-serif;
}

h2 {
	margin: 20px 0 20px 0;
}

h3 {
	font-size: 20px;
}
h4 {
	margin: 15px;
	text-decoration: underline;
	font-size: 18px;
}

p {
	font-family: EB Garamond, sans-serif;
	margin: 0;
	margin-bottom: 0.85em;
	font-weight: 400;
	font-size: 20px;
}

.center {
	text-align: center;
}

.divider-1 {
	display: flex;
	height: 60px;
	justify-content: center;
	margin: 50px;
}

.divider-2 {
	display: flex;
	height: 40px;
	justify-content: center;
	margin: 50px;
}



/* nav and logo */


.logo {
	font-family: Great Vibes, sans-serif;
	letter-spacing: 0.05em;
	text-align: center;
	font-size: 4rem;
	margin-bottom: 1rem;
	font-weight: 200;
}

.logo a {
	text-decoration: none;
}

.nav-toggle {
	display: none;
}

nav {
	text-transform: uppercase;
	color: #484848;
	font-family: EB Garamond;
	font-size: 20px;
}

.top-nav {
	margin-bottom: 2em;
	padding: 1px;
	
}
.top-nav ul{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: center;
	text-decoration: none;
}
.top-nav a {
	display: inline-block;
	padding: 10px 10px 3px 10px;
	flex-wrap: wrap;
	text-decoration: none;
}

.active {
	border-bottom: 1px solid black;
	
}

nav li a:hover, nav li a:focus {
	color:black;
	border-bottom: 1px solid black;
	font-weight: 1000;
	
}

nav a:visited, .logo a:visited {
	color: inherit;
}

/* media queries for navigation */

@media screen and (max-width: 520px) {

	.nav-toggle-label {
	display: flex;
	justify-content:center;
	margin-bottom: 30px;
}

	.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
	display: block;
	background: black;
	height: 3px;
	width: 3em;
	border-radius: 2px;
	position: relative;
}

	.nav-toggle-label span::before, .nav-toggle-label span::after {
	content: "";
}

	.nav-toggle-label span::before {
	bottom: 6px;
}

	.nav-toggle-label span::after {
	top: 3px;
}
	nav {
		display: none;
	}
	
	.nav-toggle:checked ~ nav {
		display: block;
	}
	.nav-toggle-label {
		display: flex;
		align-items: center;
	}

	.top-nav ul {
		flex-direction: column;
		justify-content: center;
	}

	.top-nav ul li {
		align-items: center;
		border: 1px solid black;
		margin: 0 auto;
		width: 130px;
		text-align: center;
	}

	.active {
		background-color: rgb(168, 235, 168);
	}


}
/* ---- HOME PAGE ---- */


/* hero image */

.hero-image {
	position: relative;
 	text-align: center;
  	color: white;
	margin-bottom: 30px;
}
.hero-title {
	font-family: Sacramento, sans-serif;
	font-weight: 500;
	font-size: 50px;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-60%, -50%);
}

/* invitation text*/

.invitation-important {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.invitation-important-item {
	width: 100px;
	margin: 10px;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	min-height: 20px;
	text-align: center;
}

.invitation-important-item > * {
	margin: 0 auto;
}


.invitation h3 {
	line-height: 1.3em;
}

.invitation-important a {
	color: black;
	text-decoration: underline;
}

.invitation-important a:hover {
	color:gray;
	text-decoration: underline;
}

/* image section */

.image-section {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.image-section-item {
	flex-basis: 33.33%;
}

.image-section-item img {
	width: 100%;
}

/* footer - derived from https://codepen.io/slstudios/pen/mJqjeP */

.footer {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 10px 0 30px 0;
  border-top: 1px solid black;
  margin-top: 40px;
}

.footer .footer-left p {
  color: #2e282d;
  font-size: 14px;
  margin: 0;
}

/* footer links */

.footer p.footer-links {
  font-size: 19px;
  font-weight: 500;
  color: #2e282d;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #2e282d;
  display: inline-block;
  padding-right: 5px;
}

.footer .footer-links .link-1:before {
  content: none;
}

.footer .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer p.footer-links a:hover{text-decoration:underline;}

/* footer media queries */

@media (max-width: 600px) {
  .footer .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }

  .footer .footer-right {
    float: none;
    margin: 0 auto 20px;
  }

  .footer .footer-left p.footer-links {
    line-height: 1.8;
  }
}

/* ---- INFO PAGE ---- */

	/* maps */

.map {
	border: 1px solid #000;
	width: 50%;
	height: 20vh;
	margin: 27px 0 27px 0;
}

.how-list {
	font-family: EB Garamond, sans-serif;
	font-size: 20px;
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	gap: 1rem;
}

.how-list-item {
	flex-grow: 1;
	flex-shrink: 1;
}

.gift-list {
	padding-left: 40px;
	list-style:disc;
}

	/* time table */

table {
	margin: 20px 0 0 0;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
	text-align: center;
	width: 100%;
	font-family: EB Garamond;
	font-size: 20px;
}

label {
	font-size: 18px;
}


tr:nth-child(even){
    background-color: #c9d5e4
}

/* ---- RSVP PAGE - derived from https://webdesign.tutsplus.com/tutorials/building-responsive-forms-with-flexbox--cms-26767 ----*/

form *{
	font-family: EB Garamond, sans-serif;
	font-size: 20px;
}


.form-outer li,
.form-inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.form-outer label {
	margin-right: 5px;
}

.form-outer > li > label,
.form-outer li p {
	flex: 1 0 120px;
	max-width: 220px;
}

.form-outer > li > label + *,
.form-inner {
	flex: 1 0 220px;
}

.form-outer li button {
	margin-left: auto;
	padding: 8px 16px;
	border: none;
	background: rgb(143, 194, 78);
	text-transform: uppercase;
	border-radius: 2px;
	font-weight: bold;
}

.form-inner {
	justify-content: space-between;
}

.form-outer > li:not(:last-child) {
	margin-bottom: 20px;
}

.form-outer li input:not([type='checkbox']),
.form-outer li textarea {
  padding: 8px;
}




	/* RSVP form
.rsvp-form {
	display: flex;
	font-family: EB Garamond, sans-serif;
	width: 60%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.rsvp-title {
	margin: 15px 0 3px 0;
}

.text-input {
	margin-bottom: 7px;
}

.rsvp-button {
	margin: 15px 0 0 auto;
	justify-content: center;
	align-items: center;
	
}

.rsvp-button input {
	padding: 5px;
}
*/
/* story timeline - derived from https://codepen.io/alvarotrigo/pen/MWEgejK */

