/* font imports */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Great+Vibes&family=Libre+Baskerville&family=Source+Sans+Pro&display=swap');

/* canvas style */

#canvas {
	margin: 100px auto;
	border: 1px solid #DBC3AD;
	max-width: 800px;
	padding: 100px 100px 0;
	background-color: #fafafa;
}

/* general styling and fonts*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
    background-color:#d1d1d180;
}


h2, h3, h4, h5, h6 {
	font-family: Libre Baskerville, sans-serif;
	text-transform: uppercase;
}

p {
	font-family: EB Garamond, sans-serif;
	margin: 0;
	margin-bottom: 0.85em;
	font-weight: 400;
	font-size: 22px;
}

.center {
	text-align: center;
}

/* nav and logo */

.logo {
	font-family: Great Vibes, sans-serif;
	letter-spacing: 0.05em;
	text-align: center;
	font-size: 4rem;
	margin-bottom: 1rem;
}

.logo a {
	text-decoration: none;
	font-weight: 200;
}

nav {
	text-transform: uppercase;
	color: grey;
	font-family: EB Garamond;
}

.top-nav {
	margin-bottom: 1em;
	padding: 1px;
}
.top-nav ul{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: center;
}
.top-nav a {
	display: inline-block;
	padding: 0.5em;
	text-decoration: none;
}

.active {
	text-decoration: underline;
	color: black;
}

nav li a:hover, nav li a:focus {
	color:black;
	text-decoration:underline;
	
}

nav a:visited, .logo a:visited {
	color: inherit;
}

/* nav divider - derived from https://codepen.io/stg/pen/ZYYQMJ */

.divider {								/* minor cosmetics */
	display: table; 
	font-size: 24px; 
	text-align: center; 
	width: 100%; 						/* divider width */
	margin: 40px auto;					/* spacing above/below */
}
.divider span { display: table-cell; position: relative; }

.divider span:first-child, .divider span:last-child {
	width: 50%;
	top: 27px;							/* adjust vertical align */
	-moz-background-size: 100% 2px; 	/* line width */
	background-size: 100% 2px; 			/* line width */
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
.divider span:first-child {				/* color changes in here */
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
	background-image: -webkit-linear-gradient(180deg, transparent, #000);
	background-image: -moz-linear-gradient(180deg, transparent, #000);
	background-image: -o-linear-gradient(180deg, transparent, #000);
	background-image: linear-gradient(90deg, transparent, #000);
}
.divider span:nth-child(2) {
	color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				/* color changes in here */
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #000, transparent);
	background-image: -moz-linear-gradient(180deg, #000, transparent);
	background-image: -o-linear-gradient(180deg, #000, transparent);
	background-image: linear-gradient(90deg, #000, transparent);
}

/* hero image */

.hero {
	background-color: grey;
	background-image: url(https://hliresort.com/wp-content/uploads/2018/04/Wedding-Hero-1.jpg);
	background-blend-mode: multiply;
	color: white;
	text-align: center;
	padding: 15vh 0;
}

/* invitation text*/

.invitation.important {
	display: flex;

}
/*
.invitation-important-upper {
	flex-basis: 100%;
}

.invitation-important-lower {
	flex-basis: 100%;
	flex-direction: row;
}
*/

.invitation h3 {
	line-height: 1.3em;
}

.invitation a {
	color: black;
	text-decoration: underline;
}

.invitation a:hover {
	color:gray;
	text-decoration: underline;
}

/* home page images */

.image-section {
	display: flex;
	height: 300px;
	max-width: 600px;
}

.image {
	display: block;
	flex-wrap: wrap;
}

/* footer - derived from https://codepen.io/slstudios/pen/mJqjeP */

.footer {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 30px 0 30px 0;
}

.footer .footer-left p {
  color: #2e282d;
  font-size: 14px;
  margin: 0;
}

/* footer links */

.footer p.footer-links {
  font-size: 19px;
  font-weight: 500;
  color: #2e282d;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #2e282d;
  display: inline-block;
  padding-right: 5px;
}

.footer .footer-links .link-1:before {
  content: none;
}

.footer .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer p.footer-links a:hover{text-decoration:underline;}

/* footer media queries */

@media (max-width: 600px) {
  .footer .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }

  .footer .footer-right {
    float: none;
    margin: 0 auto 20px;
  }

  .footer .footer-left p.footer-links {
    line-height: 1.8;
  }
}

/* maps */

.map {
	border: 1px solid #000;
	width: 100%;
	height: 20vh;
}
/* time table */

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}

tr:nth-child(even){
    background-color: #c9d5e4
}

/* story timeline - derived from https://codepen.io/alvarotrigo/pen/MWEgejK */

